body
{
	font-family:'Roboto Condensed', sans-serif;
}

.h1_search
{
	display:flex;
	justify-content: center;
	    margin: 0.67em 0;
}
h1 {
	text-align: center;
	font-size: 17px;
	line-height: 1.5em;
	    font-family: 'Cabin Sketch', cursive;
}
input
{
	/*display:inline-block;*/
	
	border-radius:40px;
	outline:transparent;
	border:1px solid lightgrey;
	
}
input[placeholder]
{
	font-size:20px;
	padding: 2px 10px ;
	color:black;
	
	
}

.container
{
	width:90%;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
ul{
    list-style:none;
}
.heading
{
	font-weight:700;
	padding-bottom: 5px;
    color: black;
}



.email
{
font-size: 13px;
padding-bottom: 5px;
    color: rgba(146, 145, 145, 1);
}
.place
{
	color: rgba(146, 145, 145, 1);

}






.grid-item
{
	display:flex;
	width:90%; 
	border: 1px solid lightgrey;
	cursor: pointer;
	margin:1em 0;
}
.grid-item:hover {
    border: 1px solid rgba(57, 215, 243, 0.25);
    box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    }

img
{
	border-radius: 50%;
	width:60px;
	height:60px;
	margin:1em 1em;
}
.info
{
	padding: 0;
}

/********************MODAL********************/
.modal {
 
	display: none;
    position: fixed;
     z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    cursor: pointer;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-img
{
	width:43%;
	height:30%;
	margin-left: 27%;
	border-radius:50%;
	text-align:center;
}
.employee_name,.employee_mail,.employee_city,.employee_phone,.address,.employee_birthday
{
	text-align: center;
}
/* Modal Content */
.modal-content{
     background-color: #fefefe;
    margin: auto;
    /*border: 2px solid black;*/
    border: 1px solid lightgrey;
     overflow: auto;
    border-radius:8px;
    padding: 20px;
    font-family:'Roboto Condensed', sans-serif;
    /* border: 1px solid #888; */
    width:260px;
    /*height:67%;*/

}
.hr-line
{
	color:grey;
	border:1px solid grey;
}


@media (min-width: 768px)
{
	.grid-item
{
	width:33%;
	
	margin:1em 1em;
}
h1 {

	font-size: 2em;
	
}

}

@media (min-width: 1024px)
{
	h1 {

	font-size: 2em;
	
}
.container
{
	width:80%;
	margin:auto;
}

	.grid-item
{
	width:26%;
	
}

}